<!DOCTYPE html>
<head>
    <link href="../static/styles.css" rel="stylesheet" type="text/css">
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css"> -->
    </head>
</head>

<body>
    <div class="container">
        <div class="row">
          <div class="col-sm-12 strip">
            <img src="../static/images/william_words.jpg" alt="profile image" width="140" height="140"/>
            <strong>William Wordsworth</strong> <span class="light"> @WilliamWordsworth - <span class="time">17m</span></span><br>
            <div style="font-size: 28px;">{{sentence}}</div>
            <br>
            <!-- <a href="http://tcrn.ch/1rFoZWn/">tcrn.ch/1rFoZWn</a> by <a href="@drizzled">@drizzled</a> -->
      
            <div class="summary">
              <span class="buttons">
                <a href="#"><i class="fa fa-reply"></i>Create new tweet</a>
                <!-- <a href="#"><i class="fa fa-retweet"></i> Retweet</a>
                <a href="#"><i class="fa fa-star"></i> Favourite</a>
                <a href="#"><i class="fa fa-ellipsis-h"></i> More</a> -->
              </span>
              <!-- <a href="/summary"><i class="fa fa-file-o"></i> View summary</a> -->
            </div>
          </div>
        </div>
    <br>
<br>
<br>
<br>

        <div class="row">
            <div class="col-sm-12 strip">
              <img src="../static/images/Samuel_coleridge.jpg" alt="profile image" width="140" height="140"/>
              <strong>Samuel Coleridge</strong> <span class="light"> @SamColeridge - <span class="time">17m</span></span><br>
              <div style="font-size: 28px;">{{sentence2}}</div>
              <br>
              <!-- <a href="http://tcrn.ch/1rFoZWn/">tcrn.ch/1rFoZWn</a> by <a href="@drizzled">@drizzled</a> -->
        
              <div class="summary">
                <span class="buttons">
                  <a href="#"><i class="fa fa-reply"></i>Create new tweet</a>
                  <!-- <a href="#"><i class="fa fa-retweet"></i> Retweet</a>
                  <a href="#"><i class="fa fa-star"></i> Favourite</a>
                  <a href="#"><i class="fa fa-ellipsis-h"></i> More</a> -->
                </span>
                <!-- <a href="/summary"><i class="fa fa-file-o"></i> View summary</a> -->
              </div>
            </div>
          </div>
      
        <!-- repeat until done -->
      
      </div>

      
</body>


